.home {
  background-color: #FAE8E4;
  
}

.container-left {
  display: flex;
  margin-top: 10%;
  margin-left: 10%;
  flex-direction: column;
  gap: 20px;
}

.texto1 {
  font-size: 46px;
  font-family: 'Poppins bold';
}

.texto2 {
  font-size: 16px;
  font-family: 'Poppins';
  max-width: 500px;
}

.button-home {
  z-index: 2;
  font-family: 'Poppins bold';
  font-size: 16px;
  padding: 17px 30px;
  background-color: #ED6325;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 12px;
  bottom: 35%;
}

.container-right {
  display: flex;
  margin-top: -100px;
  margin-left: 45%;
  z-index: 1;
 
}

.bola {
  display: flex;
  position: absolute;
  top: 30%;
  right: 17.5%;
}

.menino {
  position: absolute;
  display: flex;
  z-index: 4;
  bottom: 2%;
  right: 17%;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .container-left,
  .container-right {
    flex: 0;
    width: 100%;
    text-align: center;
    margin: 20px 0;
    align-items: center;
  }

  .texto1 {
    padding-top: 2em;
    font-size: 24px;
    text-align: left;
    
  }
  .texto2 {
    
    font-size: 16px;
    max-width: 350px;
    text-align: left;
    
  }

  .button-home {
    padding: 10px 80px;
    margin-bottom: 9em;
  }

  .circulo {
    display: flex;
    width: 400px;
    padding-top: 12em;

  }

  .bola {
    display: flex;
    width: 200px;
    padding-top: 16em;
  }

  .menino {
    display: flex;
    width: 350px;
    left: 0.5em;
  }
}


