.separator {
  position: absolute;
  display: flex;
  height: 96px;
  top: 133%;
}

.separator::after {
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #ED6325;
  width: 6px; 
}


@media (max-width: 768px) {
  .separator {
    height: 130px;
    top: 115.5%;
  }

  
}

