.footer {
  background-color: #000;
  padding-top: 200px;
  padding-bottom: 200px;
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
  
}


.collum-left img {
  padding-bottom: 2em;
  cursor: pointer;
}
  

.collum-left p {
  font-family: 'Poppins';
  font-size: 14px;
  color: #fff;
}

.collum-mid {
  display: flex;
  flex-direction: column;
}
.collum-mid a{
 font-size: 14px;
}
.social {
  display: flex;
  color: #fff;
  gap: 0.5em;
  align-items: center;
  padding-bottom: 1em;
  font-family: 'Poppins';
  cursor: pointer;

}

.titulo-social {
  color: #fff;
  padding-bottom: 2em;
  font-family: 'Poppins bold';
  font-size: 18px;
}


.title-collum-right {
  color: #fff;
  font-family: 'Poppins bold';
}

.collum-right {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2em;
  
}
.collum-right a {
  cursor: pointer;
  font-size: 14px;
  font-family: 'Poppins';
}