.footer {
  background-color: #000;
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column ;
}

.roww {
  display: flex;
  gap: 20em;
  flex-direction: row;
  
}


.collum-left img {
  padding-bottom: 2em;
  cursor: pointer;
}
  

.collum-left p {
  font-family: 'Poppins';
  font-size: 14px;
  color: #fff;
}

.collum-mid {
  display: flex;
  flex-direction: column;
}
.collum-mid a{
 font-size: 14px;
}
.social {
  display: flex;
  color: #fff;
  gap: 0.5em;
  align-items: center;
  padding-bottom: 1em;
  font-family: 'Poppins';
  cursor: pointer;

}

.titulo-social {
  color: #fff;
  padding-bottom: 2em;
  font-family: 'Poppins bold';
  font-size: 18px;
}


.title-collum-right {
  color: #fff;
  font-family: 'Poppins bold';
}

.collum-right {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2em;
  
  
}
.collum-right a {
  cursor: pointer;
  font-size: 14px;
  font-family: 'Poppins';
  
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}



@media screen and (max-width: 768px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    
    
  }

  .collum-left img {
    padding-right: 4em;
  }

  .collum-left p {
   display: none;
  }

  .roww {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: baseline;
  }

  .collum-mid {
    display: flex;
    padding-right: 7em;
    
    
  }

  .title-collum-right {
   padding-top: 2em;
  }

  

  .copy {
    max-width: 320px;
    display: flex;
    
  }

 

  
 
 
}
