.innovative-environment {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.vetor {
  position: absolute;
  width: 100%;
  height: 140px;
  margin-top: -150px;
}

.title-environment {
  position: relative;
  display: flex;
  display: flex;
  font-family: "Poppins bold";
  font-size: 36px;
}

.images-container {
  padding-top: 100px;
  display: flex;
}

.images {
  display: flex;
  background-color: white;
  margin: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards-environment {
  margin-top: -11%;
  display: flex;
}

.cards {
  display: flex;
  width: 292px;
  height: 152px;
  background-color: white;
  border-radius: 12px;
  margin: 42px;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.title-cards {
  font-size: 18px;
  font-family: "Poppins bold";
}
.cards p {
  font-size: 12px;
  font-family: "Poppins";
}

.lado-right {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 53%;
  top: 345%;
}

.mine-title {
  color: #ff7e00;
  font-size: 18px;
  font-family: "Poppins";
  padding-bottom: 20px;
}

.title-video {
  color: #000;
  font-family: "Poppins bold";
  font-size: 36px;
}

.lado-right {
  padding-left: 80px;
  padding-top: 18em;
}

.lado-right p {
  font-size: 14px;
  font-family: "Poppins";
  padding-bottom: 30px;
  max-width: 420px;
}

.button-mat {
  font-family: "Poppins bold";
  font-size: 16px;
  padding: 12px 35px;
  background-color: #ed6325;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 12px;
  bottom: -58%;
}

.fundo2 {
  position: absolute;
  width: 100%;
  height: 140px;
}





@media screen and (max-width: 768px) {
  .innovative-environment {
    padding-top: 50px;
    padding-bottom: 500px;
    flex-direction: column;
  }

  .vetor {
    margin-top: -70px;
    width: 100%;
    height: auto;
  }

  .title-environment {
    left: 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
  }

   .aabb-container{
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
  }

  .lado-right {
    display: flex;
    flex-direction: column;
    padding-top: 37em;
    left: -2em;
    
    
  }
  
  .mine-title {
    color: #ff7e00;
    font-size: 14px;
    font-family: "Poppins";
    padding-bottom: 20px;
  }
  
  .title-video {
    color: #000;
    font-family: "Poppins bold";
    font-size: 24px;
  }
  

  
  .lado-right p {
    font-size: 14px;
    font-family: "Poppins";
    padding-bottom: 30px;
    max-width: 320px;
  }

  .fundo2 {
    
    width: 100%;
    height: 80px;
    margin-top: -3%;
  }
  
}
