.fundo-registration {
  position: absolute;
  width: 100%;
  height: 140px;
  margin-top: -120px;
}

.registration {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  padding-top: 200px;
  padding-bottom: 200px;
  align-items: center;
  justify-content: center;
}

.row-left-registration {
  display: flex;
 
}

.circle-kids {
  position: relative;
  display: flex;
  left: 3em;
 
}

.imagem-kids {
  position: relative;
  display: flex;
  right: 19em;
  top: 1.5em;
  
}

.row-right-registration {
  position: relative;
  display: flex;
  flex-direction: column;
  right: 10em;
  
  
}

.subtitle {
  color: #FF7E00;
  font-size: 18px;
  font-family: 'Poppins';
}

.title {
  font-size: 36px;
  font-family: 'Poppins bold';
}

.row-right-registration p {
  font-family: 'Poppins';
  color: #737373;
  font-size: 14px;
  max-width: 400px;
}

.button-matt {
  font-family: "Poppins bold";
  font-size: 16px;
  width: 250px;
  height: 40px;
  background-color: #ed6325;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
 justify-content: center;
  border-radius: 12px;
  margin-top: 2em;
  gap: 10px;
}


@media screen and (max-width: 768px) {
  .fundo-registration {
    width: 100%;
    height: 40px;
    margin-top: -34px;
  } 

  .registration {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 200px;
  }
  
  .row-left-registration {
    display: flex;
    align-items: center;
    
    margin-left: 14em;
    margin-bottom: 2em;
  }
  
  .circle-kids {
    width: 200px;
    padding-left: 2em;
    
  }
  
  .imagem-kids {
    width: 200px;
    padding-left: 8.5em;
    padding-bottom: 2em;
    
  }

  .row-right-registration {
    align-items: center;
    padding-left: 20em;
    padding-right: 1em;
   
  
  }
  
  .subtitle {
    font-size: 14px;
    
  }
  
  .title {
   font-size: 24px;
   text-align: center;
   
  }
  
  .row-right-registration p {
    max-width: 300px;
    text-align: center;
    
  }

  .button-matt {
    width: 300px;
    gap: 10px;

  }



 

 
}
