.fundo {
  background-repeat: repeat-x;
  width: 100%;
  height: 140px;
  position: absolute;
  z-index: 1;
}

.navbar {
  display: flex;
  background: transparent; 
  position: relative;
  text-align: center;
  z-index: 2;
  
}

.logo {
  z-index: 2;
  margin-top: 1%;
  margin-left: 6%;
}

.links {
  z-index: 2;
  margin-top: 2%;
  font-family: 'Poppins bold';
  padding-left: 20%;
  flex-direction: row;
  font-size: 14px;
}

.a {
  margin-right: 70px;
  
}

.button {
  z-index: 2;
  margin-top: 1.5%;
  font-family: 'Poppins bold';
  font-size: 14px;
  padding: 10px 30px;
  background-color: #ED6325;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: absolute;
  right: 20em;
  border-radius: 12px;
}


@media (max-width: 768px) {
  .fundo {
    display: flex;
    width: 100%;
    height: 6em;
    position: absolute;
    z-index: 1;
  }


  .logo {
    width: 10px;
    margin-left: 2%;
  }

  .links {
    padding-left: 10%;
    font-size: 12px;
    display: none;
  }

  .a {
    margin-right: 30px;
  }

  .button {
    font-size: 12px;
    padding: 8px 20px;
    right: 10em;
    display: none;
  }
}




