.custom-shape-divider-bottom-1690302680 {
  position: absolute;
  bottom: -48px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1690302680 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  
}

.custom-shape-divider-bottom-1690302680 .shape-fill {
  fill: #FFFFFF;
}

.section2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  z-index: 99;
  padding-top: 600px;
  padding-bottom: 100px;
}


.circle-orange {
  display: flex;
  position: absolute;
  top: 110%;
  z-index: 99;
  left: -13em;
}

.photo1 {
  z-index: 99;
  display: flex;
  position: absolute;
  top: 105%;
  left: 20%;
}
.photo2 {
  z-index: 99;
  display: flex;
  position: absolute;
  top: 121.5%;
  left: 11.7%;
}
.photo3 {
  z-index: 99;
  display: flex;
  position: absolute;
  top: 128%;
  left: 25%;
}
.photo4 {
  z-index: 99;
  display: flex;
  position: absolute;
  top: 144.5%;
  left: 16.8%;
}

.box-right {
  z-index: 99;
  display: flex;
  flex-direction: column;
  margin-left: 45%;
  margin-top: -22%;
}

.titulo-sec2 {
 
  font-size: 38px;
  font-family: 'Poppins bold';
  
}

.box-right p {
  max-width: 550px;
  font-size: 14px;
  font-family: 'Poppins';
  padding-left: 20px;
  padding-top: 17px;
}

.circles-container {
  z-index: 99;
  display: flex;
  padding-top: 20px;
 
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 8em;
}

.row {
  display: flex;
  gap: 10px;
  align-items: center;
  
}
.row a {
  font-family: 'Poppins';
  font-size: 14px;  
  padding-right: 10px;
  
}
.circle-pequeno {
  width: 20px;
  height: 20px;
  background-color: #ED6325;
  border-radius: 50%;
  
  margin-left: 50px;
}

.button-matricula {
  font-family: 'Poppins bold';
  font-size: 16px;
  padding: 10px 35px;
  background-color: #ED6325;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 12px;
  bottom: -70%;
  
}

@media (max-width: 768px) {
  .circle-orange,
  .photo1,
  .photo2,
  .photo3,
  .photo4
  {
    display: none;
  }

  .section2 {
    padding-top: 600px;
    padding-bottom: 300px;
    justify-content: center;
  }


  .box-right {
    display: flex;
    
    margin-top: -30em;
  }

  .titulo-sec2 {
    font-size: 28px;
  }
 
  .box-right p {
    font-size: 12px;
    padding-top: 10px;
    max-width: 300px;
  }

  .circles-container {
    gap: 10px;
    flex-direction: column;
   
  }

  .row {
    justify-content: space-between;
    
  }

  .circle-pequeno {
    width: 15px;
    height: 15px;
  }
  .button-matricula {
    padding: 10px 70px;
    bottom: -70%;
    
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .circle-orange,
  .photo1,
  .photo2,
  .photo3,
  .photo4 {
    display: none;
  }



  .titulo-sec2 {
    font-size: 28px;
  }

  .box-right p {
    
    max-height: 100px;
  }

  .circles-container {
    display: flex;
    flex-wrap: wrap;
  }

  .circle-pequeno {
    width: 15px;
    height: 15px;
  }
}

